<template>
  <div id="app">
    <loading :active.sync="loading"></loading>
    <HeaderLayout v-if="isLogged"></HeaderLayout>

    <b-container>
      <index-layout>
        <template slot="main-area">
          <b-alert
            :show="dismissCountDown"
            variant="light"
            style="text-align: center"
            fade
            @dismissed="dismissCountDown==0"
            @dismiss-count-down="countDownChanged"
          >
            <b-btn size="sm" @click="hideAlert" :variant="this.error ? 'danger' : 'success'" class="m-1">
              {{ message }}  
            </b-btn>
            <b-progress :variant="this.error ? 'danger' : 'success'"
                  :max="dismissSecs"
                  :value="dismissCountDown"
                  height="2px">
            </b-progress>
          </b-alert>
          <content-layout></content-layout>
        </template>
        <template
          v-if="isLogged"
          slot="side-bar"
        >
          <sidebar-layout></sidebar-layout>
        </template>
      </index-layout>
    </b-container>

    <FooterLayout v-if="isLogged"></FooterLayout>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

import IndexLayout from "@/components/Layouts/Index";
import HeaderLayout from "@/components/Layouts/Header/Index";
import ContentLayout from "@/components/Layouts/Content/Index";
import FooterLayout from "@/components/Layouts/Footer/Index";
import SidebarLayout from "@/components/Layouts/Sidebar/Index";

import { mapState, mapMutations } from "vuex";

export default {
  data () {
    return {
      dismissSecs: 5,
      dismissCountDown: 0,
    }
  },
  watch: {
    success: function (val) {
      if(this.success) {
        this.showAlert()
      }
    },
    error: function (val) {
      if(this.error) {
        this.showAlert()
      }
    }
  },
  name: "App",
  components: {
    Loading,
    IndexLayout,
    HeaderLayout,
    ContentLayout,
    FooterLayout,
    SidebarLayout
  },
  computed: {
    ...mapState(["loading", "error", "success", "message"]),
    ...mapState("auth", ["isLogged"])
  },
  methods: {
    ...mapMutations(["cleanAlert"]),
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
      if(this.dismissCountDown == 0) {
        this.cleanAlert()
      }
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    hideAlert () {
      this.dismissCountDown = 0
      this.cleanAlert()
    }
  }
};
</script>

<style>
#app {
  background-color: #fff;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;
}

</style>