<template>
  <b-container>
    <div v-if="evaluationStates.length">
      <b-table
        hover
        small
        :items="evaluationStates"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
      >
        <!-- Signs status -->
        <template
          slot="signStatus"
          slot-scope="data"
        >
          <b-badge :variant="data.item.isSigned ? 'success' : 'danger'">
            {{data.item.isSigned ? "Firmado" : "Pendiente"}}
          </b-badge>
        </template>

        <!-- Lock status -->
        <template
          slot="lockStatus"
          slot-scope="data"
        >
          <v-icon :color="data.item.isLocked ? '#dc3545' : '#28a745'" :name="data.item.isLocked ? 'lock' : 'unlock'" style='width:20; vertical-align: middle;'></v-icon>  
        </template>

        <!-- Edit -->
        <template
          slot="actions"
          slot-scope="row"
        >
          <b-button
            v-if="row.item.isLocked"
            size="sm"
            @click="_unlock(row.item)"
            class="mr-1"
            variant="light"
          >
            <v-icon
              name="rotate-ccw"
              style="width:16; vertical-align: middle;"
            ></v-icon>
          </b-button>
        </template>
      </b-table>

      <!-- Pagination -->
      <b-row>
        <b-col
          md="6"
          class="my-1"
        >
          <b-pagination
            :total-rows="evaluationStates.length"
            :per-page="perPage"
            v-model="currentPage"
            class="my-0"
          />
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <b-alert
        variant="secondary"
        show
      >
        <v-icon
          name="database"
          style="width:24; vertical-align: middle;"
        ></v-icon>
        No hay datos para mostrar
      </b-alert>
    </div>
  </b-container>

</template>

<script>
import { mapActions, mapState } from "vuex";
import gradesMixin from "@/mixins/grades";
import EventBus from '@/plugins/event-bus.js'

export default {
  mixins: [gradesMixin],
  data: () => {
    return {
      currentPage: 1,
      perPage: 7,
      totalRows: 50,
      fields: [
        { key: "teacherFullName", label: "Profesor", sortable: true },
        { key: "signStatus", label: "Estado firma", class: "text-center" },
        { key: "lockStatus", label: "Estado evaluación", class: "text-center" },
        { key: "actions", label: "", class: "text-center" }
      ]
    };
  },
  computed: {
    ...mapState("directorGrades", ["evaluationStates"]),
    ...mapState("auth", ["user"])
  },
  methods: {
    ...mapActions("directorGrades", ["resetEvaluationState", "getEvaluationState"]),
    ...mapActions("directorLock", ["setLockState"]),
    _unlock(item) {
      console.log(item);
      this.setLockState({ evaluationId: item.evaluation, directorId: this.user.id, teacherId: item.teacherId, state: 1 });
    },
  },
  mounted: function() {
    this.resetEvaluationState(),
    EventBus.$on('refreshGradesStates', (params) => {
      this.getEvaluationState({EvaluationId: params.evaluationId})
    });    
  }
};
</script>