<template>
  <div>
      <b-button
        style="width:100%;"
        v-if="user.role != 3"
        variant="primary"
        size="sm"
        @click="showCloseModal"
      >
        <v-icon
          name="lock"
          style="width:24; vertical-align: middle;"
        ></v-icon>
        Cerrar evaluación
      </b-button>
    
    <b-modal ref="closeModal" title="Cerrar evaluación" :hide-header-close=true>
        <b-row>
            <b-col cols="1">
                <b-badge pill :variant="!Boolean(this.EvaluationId) ? 'secondary': 'success'"><h6>1º</h6></b-badge>
            </b-col>
            <b-col cols="11">
                <evaluation-list @onSelected="evaluationSelected" :userId="this.user.id"></evaluation-list>
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col cols="1">
                <b-badge pill :variant="!Boolean(this.file) ? 'secondary': 'success'"><h6>2º</h6></b-badge>
            </b-col>
            <b-col cols="11">
                <b-form-file :disabled="!Boolean(this.EvaluationId)" v-model="file" :state="Boolean(file)" placeholder="Selecciones el certificado..."></b-form-file>
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col cols="1">
                <b-badge pill :variant="isReadyToLock ? 'success': 'secondary'"><h6>4º</h6></b-badge>
            </b-col>
            <b-col cols="11">
                <b-btn :disabled="!isReadyToLock" variant="primary" block @click="_lock">Cerrar evaluación</b-btn>
            </b-col>
        </b-row>
      
      <div slot="modal-footer" class="w-100">
        <p>La evaluación se cerrará y se firmará en nombre de:</p>
        <p class="float-left">{{user.name + ' ' + user.surName}}</p>
        <b-btn size="sm" class="float-right" variant="secondary" @click="hideCloseModal">
           Cancelar
        </b-btn>
       </div>
    </b-modal>
  </div>
</template>

<script>

import EvaluationList from "@/components/EvaluationList"
import { mapState, mapActions, mapMutations } from "vuex";

export default {
    components: {
        EvaluationList
    },
    data () {
        return {
            EvaluationId: null,
            file: null,
            condition: null,
        }
    },
    computed: {
        ...mapState("auth", ["user"]),
        isReadyToLock()
        {
            return (Boolean(this.EvaluationId) && Boolean(this.file))
        }
    },
    methods: {
        ...mapActions("directorLock", ["setLockState"]),
        _lock () {
            this.setLockState({evaluationId: this.EvaluationId, directorId: this.user.id, state: 2})
            this.hideCloseModal()
        },
        showCloseModal () {
            this.EvaluationId = null
            this.$refs.closeModal.show()
        },
        hideCloseModal () {
            this.$refs.closeModal.hide()
        },
        evaluationSelected(item) {
            this.EvaluationId = item.id
        }
    },
    mounted: function () {
        this.EvaluationId = null
        this.file = null
        this.condition = false
    }
};
</script>
