<template>
  <b-container>
    <div v-if="grades.length">
      <b-table
        hover
        small
        :items="grades"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
      >
        <template
          slot="gradeValue"
          slot-scope="data"
          style="text-align: center;"
        >
          <b-badge :variant="getGradeResultColor(data.item.gradeValue)">
            {{gradeToString(data.item.gradeValue)}} <span class="sr-only">{{getGradeResultText(data.item.gradeValue)}}</span>
          </b-badge>
        </template>

        <template slot="status" slot-scope="data">
          <b-badge
            :variant="getGradeResultColor(data.item.gradeValue)"
          >{{getGradeResultText(data.item.gradeValue)}}</b-badge>
        </template>

        <template slot="isValid" slot-scope="data">
          <b-badge
            :variant="getValidationColor(data.item.isValid)"
          >{{getValidationText(data.item.isValid)}}</b-badge>
        </template>
        
        <template slot="txHash" slot-scope="data">
          <b-button size="sm" :disabled="!data.item.txHash" variant="light" @click.stop.prevent="copyTestingCode(data.item.txHash)">
                <v-icon
                name="copy"
                style="width:16; vertical-align: middle;"
                ></v-icon>
            </b-button>
          <input type="hidden" :id="data.item.txHash" :value="data.item.txHash">
        </template>

      </b-table>
      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="grades.length" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <b-alert variant="secondary" show>
        <v-icon
          name="database"
          style="width:24; vertical-align: middle;"
        ></v-icon>
            No hay datos para mostrar
      </b-alert>
    </div>
  </b-container>
</template>

<script>
import gradesMixin from '@/mixins/grades';
import { mapState, mapActions } from "vuex";

export default {
  mixins: [gradesMixin],
  data: () => {
    return {
      currentPage: 1,
      perPage: 7,
      totalRows: 50,
      fields: [
        { key: "subjectName", label: "Materia", sortable: true},
        { key: "gradeValue", label: "Nota", sortable: true, 'class': 'text-center' },
        { key: "status", label: "Calificación", 'class': 'text-center' },
        { key: "isValid", label: "Estado", 'class': 'text-center' },
        { key: "txHash", label: "TX Hash", 'class': 'text-center' },
      ]
    };
  },
  computed: {
    ...mapState("studentGrades", ["grades"])
  },
  methods: {
    ...mapActions("studentGrades", ["resetGrades", "getGrades"]),

    copyTestingCode (selectorToCopy) {
          let selector = selectorToCopy.replace('0x','');
          let textToCopy = document.querySelector("input[id$='"+ selector +"']")
          textToCopy.setAttribute('type', 'text')
          textToCopy.select()

          try {
            document.execCommand('copy');
            let toast = this.$toasted.show("Copiado al portapapeles !!", { type: "success" });
          } catch (err) {
            let toast = this.$toasted.show("Error, no ha sido posible copiar al portapapeles!", { type: "error" });
            console.log(err)
          }

          /* unselect the range */
          textToCopy.setAttribute('type', 'hidden')
          window.getSelection().removeAllRanges()
    }
  },
  mounted: function () {
    this.resetGrades()
  }
  
}
</script>