<template>
  <div>
    <b-dropdown
      id="ddStudentsList"
      name="ddStudentsList"
      :text="'Alumno: ' + (this.Estudent ? this.Estudent.firstName + ' ' + this.Estudent.lastName : 'Seleccionar')"
      variant="outline"
      class="m-md-2"
      size="sm"
    >
      <b-dropdown-item disabled value="0">Seleccione alumno</b-dropdown-item>
      <b-dropdown-item
        v-for="(item) in students"
        :key="item.id"
        :value="item.id"
        @click=_setStudent(item)
      >
        {{item.firstName}} {{item.lastName}}
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
    import { mapState, mapActions, mapMutations } from "vuex";
    export default {
        props: {
            userId: {
            type: String,
            required: true
            }
        },
        data() {
            return {
                Estudent: null,
                ddStudentsList: {
                    disabled: false,
                    readonly: false,
                    visible: true,
                    color: "",
                    options: []
                }
            };
        },
        computed: {
            ...mapState("studentsList", ["students"])
        },
        methods: {
            ...mapActions("studentsList", ["getStudents"]),
            _setStudent: function (item) {
                this.Estudent = item
                this.$emit('onSelected', item)
            }
        },
        mounted: function () {
            this.getStudents ({ 
                TeacherId: this.userId
            })
        }
    }
</script>
