<template>
    <footer>
        <div class="text-center">
            <b-button size="sm" variant="secondary" @click.stop.prevent="copyToClipboard">
                <v-icon
                name="copy"
                style="width:16; vertical-align: middle;"
                ></v-icon>
                {{this.user.role == 3 ? 'Smart contract address:' : 'Account address'}} 
            <b-badge variant="light">
                {{this.user.ethereumAddress}}
            </b-badge>
            </b-button>
            <input type="hidden" id="ethereumAddress" :value="this.user.ethereumAddress">
        </div>
    </footer>
</template>

<script>
import { mapState } from 'vuex';

export default {
    methods: {
        copyToClipboard () {
          let textToCopy = document.querySelector('#ethereumAddress')
          textToCopy.setAttribute('type', 'text')
          textToCopy.select()

          try {
            document.execCommand('copy');
            let toast = this.$toasted.show("Copiado al portapapeles !!", { type: "success" });
          } catch (err) {
            let toast = this.$toasted.show("Error, no ha sido posible copiar al portapapeles!", { type: "error" });
            console.log(err)
          }

          /* unselect the range */
          textToCopy.setAttribute('type', 'hidden')
          window.getSelection().removeAllRanges()
        }
    },
    computed:{
        ...mapState("auth", ["user"])
    }
}
</script>

<style scoped>
    footer {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
</style>