<template>
    <header>
        <b-row>
            <b-col cols="6">
                <school-info></school-info>
            </b-col>
            <b-col cols="6">
                <user-info></user-info>
            </b-col>
        </b-row>
        <hr>
    </header>
</template>

<script>
import UserInfo from './UserInfo'
import SchoolInfo from './SchoolInfo'

export default {
    components: {
        UserInfo,
        SchoolInfo
    }
}
</script>

<style scoped>
    header{
        padding: 10px;
    }
</style>