<template>
  <b-container>
    <div>
       <b-img id="logo"
        :src="require('@/assets/logo.png')"
        left
        rounded
        width="80"
        height="80"
        alt="img"
        class="m-1"
        align="middle"
        />
      <h5>Colegio San Demetrio</h5>
      <p>Angel Custodio</p>
    </div>
  </b-container>
</template>

<script>
    export default {
        computed: {
            logo () {
                return require('@/assets/logo.png')
            }
        }
    };
</script>

<style scoped>
    header{
        padding: 10px;
    }
    h5{
        color: #478CC1;
    }
    p{
        color: #478CC1;
    }
</style>