<template>
  <b-container>
    <div style="text-align: right">
      <b-dropdown
        id="dduser"
        variant="Light"
        :text="tipoUsuario + ': ' + user.name + ' ' + user.surName"
        right
        size="sm"
      >
        <b-dropdown-item :href="`mailto:${user.email}`">
          <v-icon
            name="mail"
            style="width:16; vertical-align: middle;"
          ></v-icon> {{user.email}}
        </b-dropdown-item>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item @click="_logout">
          <v-icon
            name="power"
            style="width:16; vertical-align: middle;"
          ></v-icon> Salir
        </b-dropdown-item>
      </b-dropdown>
      <br>
      <b-link
        @click="_home"
        class="margin-right:4;"
      >Inicio <v-icon
          name="home"
          style="width:16; vertical-align: middle;"
        ></v-icon>
      </b-link>
    </div>
  </b-container>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  methods: {
    ...mapMutations("auth", ["logout"]),
    ...mapMutations(["cleanAlert"]),
    _logout() {
      this.cleanAlert();
      this.logout();

      this.$router.push("/login");
    },
    _home() {
      this.$router.push("/home");
    }
  },
  computed: {
    ...mapState("auth", ["user"]),
    tipoUsuario: function() {
      if (this.user.role == 1) {
        return "Director";
      } else if (this.user.role == 2) {
        return "Profesor";
      } else {
        return "Alumno";
      }
    }
  }
};
</script>