<template>
  <div>
    <b-dropdown
      id="ddEvaluation"
      name="ddEvaluation"
      :text="'Evaluación: ' + (this.Evaluation ? this.Evaluation.name : 'Seleccionar')"
      variant="outline"
      size="sm"
    >
      <b-dropdown-item disabled value="0">Seleccione evaluación</b-dropdown-item>
      <b-dropdown-item
        v-for="(item) in evaluations"
        :key="item.id"
        :value="item.id"
        :disabled="itemsDisabled.includes(item.id)"
        @click=_setEvaluation(item)
      >
        {{item.name}}
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
    import { mapState, mapActions, mapMutations } from "vuex";
    
    export default {
        props: {
            itemsDisabled:{
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                Evaluation: '',
                ddEvaluation: {
                    disabled: false,
                    readonly: false,
                    visible: true,
                    color: "",
                    options: []
                }
            };
        },
        computed: {
            ...mapState("evaluationList", ["evaluations"])
        },
        methods: {
            ...mapActions("evaluationList", ["getEvaluations"]),
            _setEvaluation: function (item) {
                this.Evaluation = item
                this.$emit('onSelected', item)
            }
        },
        mounted: function () {
            this.getEvaluations()
        }
    }
</script>
