<template>
  <div>
    <b-dropdown
      id="ddYear"
      name="ddYear"
      :text="'Año: ' + this.currentYear"
      variant="outline"
      class="m-md-2"
      size="sm"
    >
      <b-dropdown-item disabled value="0">Seleccione un año</b-dropdown-item>
      <b-dropdown-item
        v-for="option in ddYear.options"
        :key="option.value"
        :value="option.value"
      >
        {{option.text}}
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
    import { mapState, mapActions, mapMutations } from "vuex";
    export default {
        data() {
            return {
                currentYear: 2030,
                ddYear: {
                    disabled: false,
                    readonly: false,
                    visible: true,
                    color: "",
                    options: [
                        {
                            value: 2030,
                            text: "2030"
                        }
                    ]
                }
            };
        }
    };
</script>
