<template>
    <b-nav justified tabs>
        <!--<b-nav-item exact to="/director">Inicio</b-nav-item>-->
        <b-nav-item exact to="/director/grades">Firma de boletines</b-nav-item>
    </b-nav>
</template>

<script>
    export default {

    }
</script>