<template>
    <b-nav justified tabs>
        <!--<b-nav-item exact to="/student">Inicio</b-nav-item>-->
        <b-nav-item exact to="/student/grades">Notas</b-nav-item>
    </b-nav>
</template>

<script>
    export default {
        
    }
</script>