<template>
    <b-nav justified tabs>
        <!--<b-nav-item exact to="/teacher">Inicio</b-nav-item>-->
        <b-nav-item exact to="/teacher/grades">Puesta de notas</b-nav-item>
    </b-nav>
</template>

<script>
    export default {

    }
</script>