<template>
  <div v-if="isLogged">
    <b-jumbotron
      bg-variant="info"
      text-variant="white"
    >
      <template slot="header">
        TurillApp 6.0
      </template>
      <template slot="lead">
        Bienvenido a TurillApp 6.0 ecosistema educativo, un espacio pensado 
        para el apoyo y el desarrollo personal de cada uno.
      </template>
      <hr class="my-2">
      <p>
        Empieza a utilizar la app y descubre las funcionalidades 
        reservadas para ti.
      </p>
      <b-button variant="light" v-if="isLogged && user.role === '1'" href="/#/director">Ir a evaluaciones</b-button>
      <b-button variant="light" v-if="isLogged && user.role === '2'" href="/#/teacher">Puesta de notas</b-button>
      <b-button variant="light" v-if="isLogged && user.role === '3'" href="/#/student">Ver mis notas</b-button>
      <p style="text-align:right">
        Powered by Blockchain
      </p>
    </b-jumbotron>
  </div>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
      computed: {
          ...mapState('auth', ['isLogged', 'user']),
      }
    }
</script>