<template>
  <b-container>
    <div
      id="inner"
      style="width:300px;"
      class="col-sm-4 col-sm-offset-4"
    >
      <school-info></school-info>
      <b-alert
        v-if="error"
        show
        variant="danger"
      >
        {{ errorMessage }}
      </b-alert>
      <login-form
        :user="user"
        @login="submit"
      ></login-form>
    </div>
  </b-container>

</template>

<script>
import SchoolInfo from "@/components/Layouts/Header/SchoolInfo";
import LoginForm from "@/components/Authentication/Login";
import { mapState, mapActions } from "vuex";
export default {
  components: {
    LoginForm,
    SchoolInfo
  },
  data() {
    return {
      user: {
        email: "student1@cole.com",
        password: "demo"
      }
    };
  },
  computed: {
    ...mapState("auth", ["error", "errorMessage"])
  },
  methods: {
    ...mapActions("auth", ["signIn"]),
    async submit() {
      const validate = await this.$validator.validateAll();
      if (!validate) {
        return false;
      }
      await this.signIn(this.user);
      this.$router.push("/home");
    }
  }
};
</script>

<style scoped>
#inner {
  display: table;
  margin: 0 auto;
}
</style>
