<template>
  <b-container v-if="isLogged">
    <div id="years" class="text-sm-left col-3">
      <years></years>
    </div>
    <div id="evaluations" class="text-sm-left col-6">
      <evaluations @onSelected="evaluationSelected"></evaluations>
    </div>
    <div id="verificar" class="text-sm-right col-3">
      <b-button
          variant="light"
          size="sm"
          @click="validateEvaluationSelected"
          :disabled="!this.Evaluation"
        >
          <v-icon
              name="check-circle"
              style="width:16; vertical-align: middle;"
          ></v-icon>
          Verificar
      </b-button>
    </div>
    <div>
      <grades></grades>
    </div>
  </b-container>
</template>

<script>
import Years from "@/components/YearList";
import Evaluations from "@/components/EvaluationList";
import Grades from "@/components/Students/Grades";

import { mapState, mapActions, mapMutations } from "vuex";

export default {
  data() {
    return {
      Evaluation: "",
    }
  },
  components: {
    Years,
    Evaluations,
    Grades
  },
  computed: {
    ...mapState("auth", ["user", "isLogged"])
  },
  methods: {
    ...mapActions("studentGrades", ["getGrades"]),
    evaluationSelected(item) {
      this.getGrades(
        {
          StudentId: this.user.id,
          EvaluationId: item.id,
          Validate: false
        }
      )
      this.Evaluation = item.id
    },
    validateEvaluationSelected() {
      this.getGrades(
        {
          StudentId: this.user.id,
          EvaluationId: this.Evaluation,
          Validate: true
        }
      )
    }
   }
};
</script>

<style scoped>
#years,
#evaluations,
#verificar {
  display: inline-block;
}
</style>
