<template>
  <b-container v-if="isLogged">
    <div id="years">
      <years></years>
    </div>
    <div id="evaluations">
      <evaluations @onSelected="evaluationSelected"></evaluations>
    </div>
    <div>
      <grades></grades>
    </div>
  </b-container>
</template>

<script>
import Years from "@/components/YearList";
import Evaluations from "@/components/EvaluationList";
import Grades from "@/components/Directors/Grades";

import { mapState, mapActions, mapMutations } from "vuex";

export default {
  components: {
    Years,
    Evaluations,
    Grades
  },
  computed: {
    ...mapState('auth', ['isLogged']),
  },
  methods: {
    ...mapActions("directorGrades", ["getEvaluationState"]),
    evaluationSelected(item) {
        this.getEvaluationState({
          EvaluationId: item.id
        });
    }
  }
};
</script>

<style scoped>
#years,
#evaluations {
  display: inline-block;
}
</style>
