<template>
    <b-row>
        <b-col v-if="!isLogged" cols="12">
            <slot name="main-area"></slot>
        </b-col>
        <b-col v-else cols="9">
            <slot name="main-area"></slot>
        </b-col>

        <b-col v-if="isLogged" cols="3">
            <slot name="side-bar"></slot>
        </b-col>
    </b-row>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
        computed: {
            ...mapState('auth', ['isLogged']),
        }
    }
</script>