<template>
    <b-container>
        <user-info></user-info>
    </b-container>
</template>

<script>
    import UserInfo from './UserInfo'

    export default {
        components: {
            UserInfo
        }
    }
</script>