<template>
  <div>
    <b-card
      :title="user.name"
      :img-src="user.picture"
      :img-alt="user.name"
      img-top
      tag="article"
      style="max-width: 5rem; min-width: 10rem;"
      :bg-variant="this.$route.fullPath == '/home' ? 'info' : ''"
      :text-variant="this.$route.fullPath == '/home' ? 'white' : ''"
    >
      <b-list-group>
          <b-list-group-item  target="remix" href="https://remix.ethereum.org/#optimize=false&version=soljson-v0.4.24+commit.e67f0147.js" style="text-align: center" >
            <v-icon
            name="settings"
            style="width:16; vertical-align: middle;"
            ></v-icon>
          </b-list-group-item>
          <b-list-group-item target="etherscan" href="https://etherscan.io" style="text-align: center">
            <v-icon
            name="link"
            style="width:16; vertical-align: middle;"
            ></v-icon>
          </b-list-group-item>
          <b-list-group-item target="ethstats" href="https://www.rinkeby.io/#stats" style="text-align: center">
            <v-icon
              name="cloud"
              style="width:16; vertical-align: middle;"
            ></v-icon>
          </b-list-group-item>
      </b-list-group>
      <br>
      <director-lock v-if="user.role == 1 & this.$route.fullPath == '/director'"></director-lock>
      <teacher-sign v-else-if="user.role == 2 & this.$route.fullPath == '/teacher'"></teacher-sign>
    </b-card>
  </div>
</template>

<script>
import TeacherSign from '@/components/Teacher/Sign'
import DirectorLock from '@/components/Directors/Lock'
import { mapState } from "vuex";

export default {
  components: {
    TeacherSign,
    DirectorLock
  },
  computed: {
    ...mapState("auth", ["user"])
  }
};
</script>

<style>
  .card-body {
    padding: 0.5rem;
  }
</style>
