<template>
  <b-container v-if="isLogged">
    <div id="years">
      <years></years>
    </div>
    <div id="evaluations">
      <evaluations @onSelected="evaluationSelected" ></evaluations>
    </div>
    <div id="students">
      <students @onSelected="studentSelected" :userId="this.user.id"></students>
    </div>
    <div>
      <grades></grades>
    </div>
  </b-container>
</template>

<script>
import Years from "@/components/YearList";
import evaluations from "@/components/EvaluationList";
import Students from "@/components/Students/StudenstList";
import Grades from "@/components/Teacher/Grades";

import { mapState, mapActions, mapMutations } from "vuex";

export default {
  data() {
    return {
      EvaluationId: "",
      StudentId: ""
    };
  },
  components: {
    Years,
    evaluations,
    Students,
    Grades
  },
  computed: {
    ...mapState("auth", ["user", "isLogged"])
  },
  methods: {
    ...mapActions("teacherGrades", ["getGrades"]),
    ...mapActions("evaluationList", ["getEvaluationsLocked"]),
    async loadGrades() {
      if (!this.EvaluationId || !this.StudentId) return;

      await this.getGrades({
        TeacherId: this.user.id,
        StudentId: this.StudentId,
        EvaluationId: this.EvaluationId
      });
    },
    evaluationSelected (item) {
      this.EvaluationId = item.id;
      this.loadGrades();
    },
    studentSelected (item) {
      this.StudentId = item.id;
      this.loadGrades();
    }
  },
  mounted: function() {
    this.getEvaluationsLocked({
      userId: this.user.id
    })
  }
};
</script>

<style scoped>
#years,
#evaluations,
#students {
  display: inline-block;
}
</style>
