<template>
  <b-container>
    <div v-if="grades.length">
      <b-table
        hover
        small
        :items="grades"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
      >
        <!-- Grades -->
        <template
          slot="grades"
          slot-scope="data"
        >
          <b-badge :variant="getGradeResultColor(data.item.gradeValue)">
            {{gradeToString(data.item.gradeValue)}} <span class="sr-only">{{getGradeResultText(data.item.gradeValue)}}</span>
          </b-badge>
        </template>

        <!-- Status -->
        <template
          slot="status"
          slot-scope="data"
        >
          <b-badge
            :variant="getGradeResultColor(data.item.gradeValue)"
          >{{getGradeResultText(data.item.gradeValue)}}</b-badge>
        </template>

        <!-- Edit -->
        <template
          slot="actions"
          slot-scope="row"
        >
          <b-button
            size="sm"
            v-b-tooltip.hover :title="!isEditable(row.item) ? 'Evaluación cerrada' : ''"
            @click.stop="edit(row.item)"
            class="mr-1"
            variant="light"
          >
            <v-icon :name="isEditable(row.item) ? 'edit-2' : 'lock' " style="width:16; vertical-align: top;"></v-icon>
          </b-button>
        </template>
      </b-table>

      <!-- Pagination -->
      <b-row>
        <b-col
          md="6"
          class="my-1"
        >
          <b-pagination
            :total-rows="grades.length"
            :per-page="perPage"
            v-model="currentPage"
            class="my-0"
          />
        </b-col>
      </b-row>

      <!-- Info modal -->
      <b-modal
        id="modalEdit"
        ref="modal"
        size="sm"
        header-bg-variant="dark"
        header-text-variant="light"
        :title="modalEdit.title"
        @hide="resetModal"
        @ok="handleOk"
      >
        <form @submit.stop.prevent="handleSubmit">
          <b-container fluid>
            <b-row class="mb-1 text-center">
              <b-col>Nota</b-col>
            </b-row>
            <b-row class="mb-1">
              <b-col>
                <b-form-select
                  :options="numericGrades"
                  v-model="modalEdit.grade"
                />
              </b-col>
            </b-row>
          </b-container>
        </form>
      </b-modal>

    </div>
    <div v-else>
      <b-alert
        variant="secondary"
        show
      >
        <v-icon
          name="database"
          style="width:24; vertical-align: middle;"
        ></v-icon>
        No hay datos para mostrar
      </b-alert>
    </div>
  </b-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
import gradesMixin from '@/mixins/grades';

export default {
  mixins: [gradesMixin],
  data: () => {
    return {
      currentPage: 1,
      perPage: 7,
      totalRows: 50,
      fields: [
        { key: "subjectName", label: "Materia", sortable: true },
        {
          key: "grades",
          label: "Calificación",
          sortable: true,
          class: "text-center"
        },
        { key: "status", label: "", class: "text-center" },
        { key: "actions", label: "", class: "text-center" }
      ],
      modalEdit: { title: "", subjectId: "", grade: "" },
      numericGrades: [
        "NP",
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10"
      ]
    };
  },
  computed: {
    ...mapState("teacherGrades", ["grades"]),
    ...mapState("evaluationList", ["evaluationsLocked"])
  },
  methods: {
    ...mapActions("teacherGrades", ["resetGrades", "setGrade"]),
    isEditable (item) {
      return !this.evaluationsLocked.includes(item.evaluation)
    },
    edit(item) {
      if(!this.isEditable(item)){
        this.$toasted.show('No es posible edidar la nota, la evaluación está cerrada.', {type:'error'})
        return
      }
      this.modalEdit.title = item.subjectName;
      this.modalEdit.subjectId = item.subjectId;
      this.modalEdit.grade = this.gradeToString(item.gradeValue);
      this.$root.$emit("bv::show::modal", "modalEdit");
    },
    async handleOk(evt) {
      await this.setGrade({ 
          grade: this.gradeToNumeric(this.modalEdit.grade),
          subjectId: this.modalEdit.subjectId
      });
      this.resetModal();
      this.$refs.modal.hide();
    },
    resetModal() {
      this.modalEdit.title = "";
      this.modalEdit.content = "";
    }
  },
  mounted: function() {
    this.resetGrades();
  }
};
</script>