<template>
  <div>
      <b-button
        style="width:100%;"
        v-if="user.role != 3"
        variant="primary"
        size="sm"
        @click="showSignModal"
      >
        <v-icon
          name="upload-cloud"
          style="width:16; vertical-align: middle;"
        ></v-icon>
        Firmar
      </b-button>
    
    <b-modal ref="signModal" title="Firmar evaluación" :hide-header-close=true>
        <b-row>
            <b-col cols="1">
                <b-badge pill :variant="!Boolean(this.EvaluationId) ? 'secondary': 'success'"><h6>1º</h6></b-badge>
            </b-col>
            <b-col cols="11">
                <evaluation-list @onSelected="evaluationSelected" :itemsDisabled="this.evaluationsLocked"></evaluation-list>
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col cols="1">
                <b-badge pill :variant="!Boolean(this.file) ? 'secondary': 'success'"><h6>2º</h6></b-badge>
            </b-col>
            <b-col cols="11">
                <b-form-file :disabled="!Boolean(this.EvaluationId)" v-model="file" :state="Boolean(file)" placeholder="Selecciones el certificado..."></b-form-file>
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col cols="1">
                <b-badge pill :variant="!Boolean(this.file) ? 'secondary': 'success'"><h6>3º</h6></b-badge>
            </b-col>
            <b-col cols="11">
                <b-btn :disabled="!readyToSign" variant="primary" block @click="_sign">Firmar</b-btn>
            </b-col>
        </b-row>
      
      <div slot="modal-footer" class="w-100">
        <p>La evaluación se firmará en nombre de:</p>
        <p class="float-left">{{user.name + ' ' + user.surName}}</p>
        <b-btn size="sm" class="float-right" variant="secondary" @click="hideSignModal">
           Cancelar
        </b-btn>
       </div>
    </b-modal>
  </div>
</template>

<script>
import EvaluationList from "@/components/EvaluationList"
import { mapState, mapActions, mapMutations } from "vuex";

export default {
    components: {
        EvaluationList
    },
    data () {
        return {
            EvaluationId: null,
            file: null
        }
    },
    computed: {
        ...mapState("auth", ["user"]),
        ...mapState("evaluationList", ["evaluationsLocked"]),
        readyToSign ()
        {
            return Boolean(this.EvaluationId) && Boolean(this.file)
        }
    },
    methods: {
        ...mapActions("teacherSign", ["sign"]),
        ...mapActions("evaluationList", ["getEvaluationsLocked"]),
        _sign () {
            this.sign({evaluationId: this.EvaluationId, teacherId: this.user.id})
            this.getEvaluationsLocked({
                userId: this.user.id
            })
            this.hideSignModal()
        },
        showSignModal (context) {
            this.EvaluationId = null
            this.file = null
            this.$refs.signModal.show()
        },
        hideSignModal () {
            this.$refs.signModal.hide()
        },
        evaluationSelected(item) {
            this.EvaluationId = item.id
        }
    },
    mounted: function () {
        this.EvaluationId = null
        this.file = null
    }
};
</script>
