<template>
    <b-container>
        <navigation-guest v-if="!isLogged"></navigation-guest>
        <router-view></router-view>
    </b-container>
</template>

<script>
    import NavigationGuest from '@/components/Navigations/Guest'

    import {mapState} from 'vuex'
    export default {
        components: {
            NavigationGuest
        },
        computed: {
            ...mapState('auth', ['isLogged']),
            ...mapState('auth', ['user']),
        }
    }
</script>